<main class="container" style="max-width: 600px">
  <div class="row" style="margin-top: 1rem">
    <h1>Cliente MQTT con Angular 13</h1>
    <details [open]="connectionDetailsElementOpen">
      <summary>DETALLES DE CONEXIÓN</summary>
      <form [formGroup]="connectionForm" (submit)="toConnect()">
        <label for="">
          Broker MQTT
          <input
            type="text"
            placeholder="Aquí el broker MQTT"
            formControlName="brokerHost"
          />
          <small>Por ejemplo test.mosquitto.org</small>
        </label>
        <label for="">
          Puerto
          <input
            type="number"
            placeholder="Aquí el puerto"
            formControlName="brokerPort"
          />
          <small>Por ejemplo 8081 para conexión cifrada u 8080 sin cifrar</small>
        </label>

        <button id="connectButtonDOMElement" type="submit" [disabled]="connectionForm.invalid" [class.secondary] = "connectionForm.invalid">
          CONECTAR
        </button>
      </form>
    </details>
    <details class="scale-in-center" [class.toHidden]="connectionDetailsElementOpen" open>
        <summary>DETALLES PARA ENVÍO DE MENSAJE</summary>
        <form [formGroup]="topicForm" (submit)="toSubcribeToTopic()">
            <label for="">
              Topic al que subscribirse
              <input
                type="text"
                placeholder="Aquí el topic"
                formControlName="mqttTopic"
              />
              <small>Por ejemplo /fjmduran/test</small>
            </label>           
            <button id="topicButtonDOMElement" type="submit" [disabled]="topicForm.invalid">
              SUBSCRIBIR
            </button>
          </form>
          <form [formGroup]="messageForm" (submit)="toSendMessage()">         
            <label for="">
              Mensaje a enviar
              <input
                type="text"
                placeholder="Aquí el mensaje"
                formControlName="mqttMessage"
              />
              <small>Por ejemplo Hola MQTT!</small>
            </label>
    
            <button type="submit" [disabled]="messageForm.invalid">
              ENVIAR
            </button>
          </form>
    </details>
  </div>
  <ul class="terminal">
    <li *ngFor="let message of mLog">{{message}}</li>
  </ul>
</main>
